<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Outage Observer</string>
  <key>CFBundleDisplayName</key>
  <string>Outage Observer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>CFBundleIconFile</key>
  <string>AppIcon</string>
  <key>LSMinimumSystemVersion</key>
  <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
  <key>LSUIElement</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>ATSApplicationFontsPath</key>
  <string>.</string>
  <key>NSHumanReadableCopyright</key>
  <string>An Ekpani tool.</string>
  <!-- Sparkle auto-update -->
  <key>SUFeedURL</key>
  <string>https://outage.observer/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>YHShgQXAMS90LaQFAnwXDHe7g+qTEHWI33WUHWo7ZL0=</string>
  <key>SUEnableAutomaticChecks</key>
  <true/>
  <key>SUScheduledCheckInterval</key>
  <integer>21600</integer>
</dict>
</plist>
